section#topMenu{
    padding: 14px 0 14px 0;
    margin-bottom: 28px;
    z-index: 10;
    position: relative;
    box-shadow: 0 1px 6px 0 #d4d4d5;
}
#searchBar .input{
  width: 100%;
}
#searchBar input.prompt{
    opacity: .5;
    border-color: rgb(33, 133, 208);
}
#searchBar input.prompt:placeholder-shown,
#searchBar input.prompt::-webkit-input-placeholder,
#searchBar .search.icon{
    color: rgb(33, 133, 208);
}
#searchBar input.prompt:focus{
    opacity: 1;
}
#topMenu.ui.menu{
    border-radius: 0;
}
#siteTitle a h1{
    width: 120px;
    height: 38px;
    display: block;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    color: #fff;
    font-style: italic;
    /*text-indent: -9999px;
    background: url('./img/logo.svg') no-repeat;
    background-size: cover;*/
}
#siteTitle{
    float: left;
}
#addOneAdd{
    float: right;
}
#searchBar{
    margin: 0 auto;
}
.button span.buttonText{
    margin-left: .5em;
}
#searchButton{
    display: none;
}

/* anuncios */
.anuncio{
    display: block;
    width: 100%;
    padding: 20px;
}
.anuncio_home{
    margin-top: -28px;
    margin-bottom: 28px;
    background-color: rgb(33, 133, 208);
    text-align: center;
    box-shadow: 0 6px 6px 0 #d4d4d5;
    z-index: 15;
    position: relative;
    display: block;
    /*border-bottom: 2px solid rgb(33, 133, 208);*/
}
.anuncio_home p{
    font-size: 3em;
    margin: 0;
    font-style: italic;
    color: #fff;
    margin: 1em 0;
}

/* Cards */
.grid.container .card{
    width: 100%;
}

/* offerts */
#offerts .comments{
    width: 100%;
    max-width: none;
}

/* mobie view */
@media only screen and (max-width:767px){
    #searchBar{
        display: table-cell;
        background: white;
        border-bottom: 1px solid rgb(33, 133, 208);
        width: 100%;
    }
    #searchBar input.prompt,
    #searchBar .search.icon{
        opacity: 1;
    }
    #searchButton{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
    }
    #addOneAdd{
        position: absolute;
        top: 0;
        right: 0;
    }
    .button span.buttonText{
        display: none;
    }
    #siteTitle{
        width: 100%;
    }
    #topMenu .button{
        /*background: rgba(255,255,255,.3);*/
    }
    .anuncio_home p{
        font-size: 2em;
    }
}
